// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flats {
  margin: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flat {
  width: 250px;
  height: 200px;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 10px;
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 14px;
  }

}

.flattext {
  height: 120px;
}

.flaticons {
  height: 40px;
}

.flatlinks {
  height: 40px;
}

.header {
  margin: 50px 0;
  height: 80px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  margin: 0 20px;
  background: white;
  border: 1px solid blue;
  text-decoration: none;
  border-radius: 2px;
  padding: 5px;
  text-decoration: none;
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image {
  flex: 1 1 auto;
  width: 50vw;
  height: 30vh;
}
